spring:
  datasource:
    url: jdbc:h2:file:./data/streetfoodgo-db
    driver-class-name: org.h2.Driver
    username: sa
    password:

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.H2Dialect
        format_sql: true

  h2:
    console:
      enabled: true
      path: /h2-console


app:
  jwt:
    secret: my-super-secret-key-which-is-at-least-32-characters-long
    issuer: streetfoodgo
    audience: streetfoodgo-client
    ttl-minutes: 1440
